Checks: >
  bugprone-*,
  modernize-*,
  readability-*,
  performance-*,
  portability-*,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -performance-avoid-endl,
  -readability-identifier-length,
  -readability-math-missing-parentheses

FormatStyle: file
CheckOptions:
  - key: modernize-use-nullptr.ReplacementFunction
    value: 'nullptr'